# 01 파이썬 시작하기(001~010)

### 005 print 탭과 줄바꿈
\t와 \n의 역할을 설명하라.
- **\n** : 줄바꿈
- **\t** : tab을 의미

In [1]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

### 006 print 여러 데이터 출력
- **여러 값을 출력**하려면 print 함수에서 **쉼표로 구분**  
따라서 오늘은 다음에 **'공백'**이 하나 있고, 일요일이 출력됨

In [2]:
print("오늘은", "일요일")

오늘은 일요일

### 007 print 기초
print() 함수를 사용하여 다음과 같이 출력하라.  
naver;kakao;sk;samsung  

- print 함수의 **sep 인자로 ";"**를 입력하면 출력되는 **값들 사이에 한 칸의 공백대신 '세미콜론'이 출력**됨

In [3]:
print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [4]:
print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

### 009 print 줄바꿈  
다음 코드를 수정하여 줄바꿈 없이 출력하라.  
print("first");print("second")  

힌트 : **end=""**, print 함수는 두 번 사용.   
**세미콜론(;)**은 **한 줄에 여러 개의 명령을 작성하기 위해** 사용

In [5]:
print("first", end="");print("second")

firstsecond

# 02. 파이썬 변수(011~020)

### 011 변수 사용하기
삼성전자라는 변수로 50,000원을 바인딩해보라.  
삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하라.

In [6]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

### 012 변수 사용하기
다음 표는 삼성전자의 일부 투자정보이다.  
변수를 사용해서 시가총액, 현재가, PER등을 바인딩해보라.  


|항목|값|
|:---:|:---:|
|시가총액|298조|
|현재가|50,000원|
|PER|15.79|

In [7]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

### 013 문자열 출력
변수 S와 t에는 각각 문자열이 바인딩 되어있다.  
s = "hello"  
t = "python"  

두 변수를 이용하여 아래와 같이 출력하라.  
hello! python

In [8]:
s = "hello"
t = "python"

print(s+"!", t)

hello! python

### 016 문자열을 정수로 변환
문자열 '720'을 정수형으로 변환하라.

In [9]:
num_str = "720"
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

### 019 문자열을 정수로 변환
year라는 변수가 문자열 타입의 연도를 바인딩하고 있다.  
이를 정수로 변한한후 최근 3년의 연도를 화면에 출력하라.  

year ="2020"

In [10]:
year = "2020"
year_int = int(year)
print(year_int-3)
print(year_int-2)
print(year_int-1)

2017
2018
2019

### 020 파이썬 계산
에어컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있다.  
총 금액을 계산한 후 이를 화면에 출력하라.(변수 사용하기)

In [11]:
월 = 48584
총금액 = 월 * 36
print(총금액)

1749024

# 03. 파이썬 문자열(021~050)

### 021 문자열 인덱싱
letters가 바인딩하는 문자열에서 첫 번째와 세 번째 문자를 출력하라.  
letters = "python"

 - **인덱싱** : 파이썬 **문자열**에서 **한 글자를 가져오는 것**
 - 파이썬 인덱싱은 0부터 시작

In [12]:
letters = "python"
print(letters[0], letters[2])

p t

### 022 문자열 슬라이싱
자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하라.  
license_plate = "24가 2210"

- **슬라이싱** : **문자열**에서 **여러 글자를 가져오는 것**
- **음수 값**은 문자열의 **뒤에서부터 인덱싱 또는 슬라이싱함**을 의미
- 슬라이싱에서 시작 인덱스를 생략하면 0으로 간주하고, 끝 인덱스를 생략하면 문자열의 끝을 의미

In [13]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

### 023 문자열 인덱싱
아래의 문자열에서 '홀'만 출력하라.  
string = "홀짝홀짝홀짝"

- 슬라이싱할 때 **시작인덱스:끝인덱스:오프셋**을 지정할 수 있음

In [14]:
string = "홀짝홀짝홀짝"
print(string[0],string[2],string[4], sep="")

홀홀홀

In [15]:
print(string[::2])

홀홀홀

### 024 문자열 슬라이싱
문자열을 거꾸로 뒤집어 출력하라.  
string = "PYTHON"

In [16]:
string = "PYTHON"
print(string[-1:-7:-1])

NOHTYP

In [17]:
print(string[::-1])

NOHTYP

### 025 문자열 치환
아래의 전화번호에서 하이픈('-')을 제거하고 출력하라.  
phone_number = "010-1111-2222"

- 문자열에서 **replace 메서드**를 사용하면 **문자열 일부를 치환할 수 있음**
- 문자열은 수정할 수 없는 자료형이므로, 기존 문자열은 그대로 두고 치환된 새로운 문자열이 리턴됨

In [18]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-"," ")
print(phone_number1)

010 1111 2222

### 027 문자열 다루기
url에 저장된 웹 페이지 주소에서 도메인을 출력하라. (split 사용)  
url = "http://sharebook.kr"

- 문자열로 표현된 url에서 '.'을 기준으로 분리. 분리된 url 중 마지막을 인덱싱하면 도메인만 출력할 수 있음

In [19]:
url = "http://sharebook.kr"
url_split = url.split(".")
print(url_split[-1])

kr

### 028 문자열은 immutable(불변의)
- **문자열은 수정할 수 없음**. 실행 결과를 확인해보면 문자열이 **할당(assignment) 메서드를 지원하지 않음**을 알 수 있음

In [20]:
lang = 'python'
lang[0] = 'P'
pring(lang)

TypeError: 'str' object does not support item assignment

### 029 replace 메서드
아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하라.  
string = 'abcdfe2a354a32a'

In [21]:
string = 'abcdfe2a354a32a'
string_re = string.replace('a', 'A')
print(string_re)

Abcdfe2A354A32A

### 030 replace 메서드
아래 코드의 실행 결과를 예상해보라.  
string = 'abcd'  
string.replace('b', 'B')  
print(string)

- abcd가 그대로 출력됨. 왜냐하면 문자열은 변경할 수 없는 자료형이기 때문
- replace 메서드를 사용하면 **원본은 그대로 둔 채로** **변경된 새로운 문자열 객체를 리턴**해줌

In [22]:
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [23]:
string.replace('b', 'B')

'aBcd'

### 035 문자열 출력
변수에 다음과 같이 문자열과 정수가 바인딩 되어있을 때 **% formatting을 사용**해서 다음과 같이 출력하라.  
name1 = "김민수"   
age1 = 10  
name2 = "이철희"  
age2 = 13  

이름: 김민수 나이: 10  
이름: 이철희 나이: 13

- print 포맷팅에서 **%s** 는 **문자열 데이터 타입**의 값을, **%d**는 **정수형 데이터 타입** 값의 출력을 의미

In [24]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print('이름: %s 나이: %d' % (name1, age1))
print('이름: %s 나이: %d' % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 036 문자열 출력
문자열의 format() 메서드를 사용해서 035번 문제를 다시 풀어보라.

- 문자열의 **format() 메서드**는, 타입과 상관없이 **값이 출력될 위치에 { }**를 적어주면 됨

In [25]:
print('이름: {} 나이: {}'.format(name1, age1))
print('이름: {} 나이: {}'.format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 037 문자열 출력
파이썬 3.6부터 지원하는 **f-string**을 사용해서 035번 문제를 다시 풀어보라.

- f-string은 **문자열 앞에 f가 붙은 형태**. f-string을 사용하면 **{변수}**와 같은 형태로 **문자열 사이에 타입과 상관없이 값을 출력할 수 있음**

In [26]:
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 040 strip 메서드
문자열의 좌우에 공백이 있을 때 이를 제거해보라.

- 문자열에서 **strip()** 메서드 :  **좌우의 공백을 제거**
- 이때 원본 문자열은 그대로 유지되고, 공백이 제거된 새로운 문자열이 반환됨

In [27]:
data = "   삼성전자   "
data1 = data.strip()
print(data1)

삼성전자

### 041 upper 메서드
다음 문자열을 대문자로 변경하라.  
ticker = "btc_krw"

- upper 메서드 : 문자열을 **대문자**로 만들 수 있음
- 원본 문자열은 유지되고 대문자로 변경된 새로운 문자열 객체가 반환됨  
반환된 새로운 객체를 새로운 변수로 바인딩한 후 이를 print 함수로 출력하면 됨

In [28]:
ticker = "btc_krw"
up_ticker = ticker.upper()
print(up_ticker)

BTC_KRW

### 042 lower 메서드

In [29]:
ticker = "BTC_KRW"
low_ticker = ticker.lower()
print(low_ticker)

btc_krw

### 043 capitalize 메서드
문자열 'hello'가 있을 때 이를 'Hello'로 변경하라.

In [30]:
str = 'hello'
str1 = str.capitalize()
print(str1)

Hello

### 044 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인하라.  
file_name = "보고서.xlsx"

In [31]:
file_name = "보고서.xlsx"
file_name.endswith('xlsx')

True

### 045 endswith 메서드
endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인하라.

In [32]:
file_name = "보고서.xlsx"
file_name.endswith(('xlsx', 'xls'))

True

### 046 startswith 메서드
startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인하라.  
file_name = "2020_보고서.xlsx"

In [33]:
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

### 050 rstrip 메서드
문자열 오른쪽의 공백을 제거하라.  
    data = "039490      "

In [34]:
data = "039490     "
data.rstrip()

'039490'

# 04. 파이썬 리스트(051~070)

리스트 : 여러 개의 값을 저장

### 053
"슈퍼맨"을 movie_rank 리스트의 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.  
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

- 리스트의 **insert(인덱스, 원소)** 메서드를 사용하면 **특정 위치에 값을 끼워넣기** 할 수 있음

In [35]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, '슈퍼맨')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

### 054
movie_rank 리스트에서 '럭키'를 삭제하라.  
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [36]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

### 055 
movie_rank 리스트에서'스플릿'과 '베트맨'을 삭제하라.  
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

- **del** : 리스트에서 **원소를 삭제**할 수 있음
- 리스트에서 어떤 값을 삭제하면 **남은 값들은 새로 인덱싱** 됨
- 따라서 **여러 값을 삭제할 때**는, 어떤 값이 먼저 삭제된 후 **남은 원소들에 대해서 순서를 새로 고려한 후 삭제**해야 함

In [37]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

### 058
다음 리스트의 합을 출력하라.  
nums = [1, 2, 3, 4, 5]

In [38]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

### 066 join 메서드
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']  
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

출력 예시:  
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

- 문자열의 **join** 메서드 : **리스트를 문자열로 붙일 수 있음**

In [39]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

### 070 리스트 정렬
리스트에 있는 값을 오름차순으로 정렬하라.

In [40]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [41]:
data2 = sorted(data)
print(data2)

[1, 2, 3, 4, 5, 9, 10]

# 05. 파이썬 튜플

### ★★ 073
숫자 1이 저장된 튜플을 생성하라.

- 괄호와 함께 하나의 정수값을 저장하면 튜플이 정의될 것 같지만 그렇지 않음
- type()을 출력해보면 파이썬은 튜플이 아닌 정수로 인식함
- **하나의 데이터가 저장되는 경우**, **쉼표를 입력해야**만 함

In [42]:
my_tuple = (1)
type(my_tuple)

int

In [43]:
my_tuple2 = (1, )
type(my_tuple2)

tuple

### 074
다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

- **tuple**은 **원소(element)의 값을 변경할 수 없음**

In [44]:
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

### 075
t에는 1, 2, 3, 4 데이터가 바인딩 되어있다. t가 바인딩하는 데이터 타입은 무엇인가?

- 원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만, 사용자 편의를 위해 괄호없이도 동작함

In [45]:
t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

### 079 튜플 언팩킹
다음 코드의 실행 결과를 예상하라.

In [46]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

### 080 range 함수
1부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

In [47]:
data = tuple(range(2,100,2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 06. 파이썬 딕셔너리

### 081 별 표현식
10개의 값이 저장된 scores 리스트가 있을 때, star expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하라.  
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]


- 기본적으로 **데이터 언패킹**은 **좌변의 변수와 우변 데이터 개수가 같아야 함**
- 하지만, **star expression**을 사용하면 **변수의 개수가 달라도 데이터 언패킹을 할 수 있음**
- 튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우, 나머지 데이터의 언패킹 코드를 작성할 필요가 없음

In [48]:
a, b, *c = (0, 1, 2, 3, 4, 5)
print(a)
print(b)
print(c)

0
1
[2, 3, 4, 5]

In [49]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, one, two = scores
print(valid_score)
print(one)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]
7.8

### 086
ice 딕셔너리에 아래 아이스크림 가격정보를 추가하라.  
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}

|이름|희망가격|
|:---:|:---:|
|죠스바|1200|
|월드콘|1500|

In [50]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
ice["죠스바"] = 1200
ice["월드콘"] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

### 095 딕셔너리 keys() 메서드
다음의 딕셔너리로부터 key 값으로만 구성된 **리스트를 생성**하라.  
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

In [51]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys())
print(ice, type(ice))

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나'] <class 'list'>

### 097 딕셔너리 values() 메서드
icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.  
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

In [52]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(sum(icecream.values()))

6700

### ★★ 098 딕셔너리 update 메서드
아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.  
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}  
new_product = {'팥빙수':2700, '아맛나':1000}

In [53]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

### ★★ 099 zip과 dict
아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로, result 이름의 딕셔너리로 저장한다.  
keys = ("apple", "pear", "peach")  
vals = (300, 250, 400)

In [54]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}